.column{
	float:left;
	width:400px;
}
#country-chart{
	padding-top:50px;
}
.first-row{
	height:300px;
}

.axis text {
	font-size: 10px;
	font-family: arial;	
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.secondary text{
	display:none;
}
.secondary path{
	stroke-dasharray: 1,1;
	stroke-width:1px;
	linecap:round;
}

.no-ticks line{
	display:none;
}

.x.axis path {
  display: none;
}
.x.axis text {
	font-size:13px;
	font-weight:bold;
}

.line {
  	fill: none;
  	stroke: magenta;
  	stroke-width: 5px;
}
.lineYoung {
	fill: none;
  	stroke: darkmagenta;
  	stroke-width: 5px;
}
.country-line{
	fill:none;
	stroke-width:1px;
	stroke:grey;
	opacity:0.2;
}
.selected-line{
	stroke-width:2px;
	stroke:darkmagenta;
	fill:none;
}
.selected-line-text{
	font-size:15px;
	font-weight:bold;
	font-family:arial;
	fill:darkmagenta;
}